@page "/category"
@inject HttpClient Http
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
<PageTitle>Category</PageTitle>
<h1>Category List</h1>
<NavLink class="nav-link" href="addcategory">
    <span class="oi oi-bookmark" aria-hidden="true"></span> Add Category
</NavLink>
@if (categoryList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Avaiable</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in categoryList.data)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.Avaiable</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private CategoriesList? categoryList;
    public string strapi_api_url;
    protected override async Task OnInitializedAsync()
    {
        strapi_api_url = Configuration["AppSettings:STRAPI_API_URL"];
        var urlCategories = "{STRAPI_API_URL}/api/categories?populate=*";
        categoryList = await Http.GetFromJsonAsync<CategoriesList>(urlCategories.Replace("{STRAPI_API_URL}", strapi_api_url));
    }

    public class Category
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public bool Avaiable { get; set; }

    }

    public class CategoriesList
    {
        public List<Category> data { get; set; }
    }
}
