@page "/"
@inject HttpClient Http
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
<PageTitle>Home</PageTitle>

<h1>Statistics of Api</h1>

@if (productList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Total number of product :</h5>
                        <p class="card-text"><strong>@productList.data.Count()</strong></p>
                        <NavLink class="card-link" href="product">List of Product</NavLink>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Total number of category :</h5>
                        <p class="card-text"><strong>@categoryList.data.Count()</strong></p>
                        <NavLink class="card-link" href="category">List of Product</NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@code {
    private ProductList? productList;
    private CategoryList? categoryList;

    protected override async Task OnInitializedAsync()
    {
        productList = await Http.GetFromJsonAsync<ProductList>("http://localhost:1337/api/products");
        categoryList = await Http.GetFromJsonAsync<CategoryList>("http://localhost:1337/api/categories");
    }

    public class Product
    {
        public int Id { get; set; }
        public double Price { get; set; }
        public string Name { get; set; }
        public bool Avaiable { get; set; }
        public string Details { get; set; }
    }
    public class Category
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public bool Avaiable { get; set; }

    }
    public class CategoryList
    {
        public List<Category> data { get; set; }
    }
    public class ProductList
    {
        public List<Product> data { get; set; }
    }
}
