@page "/"
@inject HttpClient Http
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration
<PageTitle>Home</PageTitle>
<div class="container">
    <div class="row text-center">
    <h1 >Statistics of Api</h1>
    <p >This app contains products and their categories. </p>
        <img src="https://st.depositphotos.com/2228340/2424/i/450/depositphotos_24240983-stock-photo-product-development.jpg" width="250"/>
    </div>
    <br />
    <hr />
    <br />
</div>

@if (productList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Total number of product :</h5>
                        <p class="card-text"><strong>@productList.data.Count()</strong></p>
                        <NavLink class="card-link" href="product">List of Product</NavLink>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Total number of category :</h5>
                        <p class="card-text"><strong>@categoryList.data.Count()</strong></p>
                        <NavLink class="card-link" href="category">List of Category</NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@code {
    private ProductList? productList;
    private CategoryList? categoryList;
    public string strapi_api_url;
    protected override async Task OnInitializedAsync()
    {
        strapi_api_url = Configuration["AppSettings:STRAPI_API_URL"];
        var urlProducts = "{STRAPI_API_URL}/api/products";
        var urlCategories = "{STRAPI_API_URL}/api/categories";
        productList = await Http.GetFromJsonAsync<ProductList>(urlProducts.Replace("{STRAPI_API_URL}", strapi_api_url));
        categoryList = await Http.GetFromJsonAsync<CategoryList>(urlCategories.Replace("{STRAPI_API_URL}", strapi_api_url));
    }

    public class Product
    {
        public int Id { get; set; }
        public double Price { get; set; }
        public string Name { get; set; }
        public bool Avaiable { get; set; }
        public string Details { get; set; }
    }
    public class Category
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public bool Avaiable { get; set; }

    }
    public class CategoryList
    {
        public List<Category> data { get; set; }
    }
    public class ProductList
    {
        public List<Product> data { get; set; }
    }
}
